@use '../../styles/global';
@use '../../styles/colors' as *;

.project {
    color: $dark;
    padding: 2vh 2vw;
    background-color: $grey;
    width: 28vw;
    border-radius: 22.5px;

    &:hover {
        // set this up so it picks a random color, would be very cool
    }

    &__title {
        font-size: 1em;
        padding-bottom: .5vh;
    }

    &__date {
        font-size: .8em;
        font-weight: lighter;
        padding-bottom: .3vh;
    }

    &__description {
        font-size: .8em;
        padding-bottom: .8vh;
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 4vw;

        &-direct {
            text-decoration: underline;
            color: $dark;

            &:hover {
                color: $light;
            }
        }
    }
}