@use './colors' as *;

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Inter';
}

h1 {
    color: $light;

}

h2 {
    margin: 0;
    color: $light;
    padding-bottom: 2vh;
}

h3 {

}

h4 {

}

p {

}