@use '../../styles/global';
@use '../../styles/mixins' as *;
@use '../../styles/colors' as *;


.header {
    color: $light;
    // width: 90vw;
    @include centered;
    padding: 2vh 2vw 0 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__nav {
        display: none;

        @include tablet {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}