@use '../../styles/global';
@use '../../styles/mixins' as *;
@use '../../styles/colors' as *;


.header {
    // width: 90vw;
    @include centered;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__logo {
        font-size: 1.4em;
        text-decoration: none;
        color: $light;
    }

    &__nav {
        display: none;
        margin-top: 1vh;

        @include tablet {
            width: 28%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @include desktop {
            width: 20%;
        }

        &-page {
            text-decoration: none;
            color: $light;
            font-size: .8em;
            font-weight: normal;
        }
    }
}