@use './styles/global' as *;
@use './styles/mixins' as *;
@use './styles/fonts' as *;
@use './styles/colors' as *;

.App {
    background-color: $dark;
    border-left: 2px solid $light;
    border-right: 2px solid $light;
    width: 90vw;
    @include centered;
    height: 110vh;
}