@use '../../styles/global';
@use '../../styles/mixins' as *;
@use '../../styles/colors' as *;

.home-page {

    &__about {
        padding: 4vh 2vw;
        padding-bottom: 7vh;

        &-split {
            display: flex;
            flex-direction: row;
            gap: 4vw;
        }

        &-title {
            font-size: 7vh;
            margin: 0;

            @include tablet {
                font-size: 10vh;
            }
        }

        &-paragraph {
            width: 40vw;
            font-size: .9em;
            color: $light;
        }

        &-dev-skills {
            margin-top: 5vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            width: 80vw;
        }

        &-dev-skill {
            background-color: $grey;
            display: inline;
            width: auto;
            height: auto;
            padding: .5vh 1vw;
            border-radius: 22.5px;
            color: $dark;
            font-size: .8em;
        }
    }

    &__projects{

        &-title {
            

        }

        &-cards {
            padding-left: 2vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2vw;
        }
    }

    &__contact {
        &-title {
        }
    }
}