@use '../../styles/global';
@use '../../styles/mixins' as *;

.home-page {

    &__about {
        padding: 4vh 2vw;
    }

    &__projects{

        &-title {

        }

        &-cards {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    }

    &__contact {
        &-title {
        }
    }
}